:root{
  --cor-azul:rgb(21, 21, 145); 
  --font: normal 20px 'Open Sans Condensed', sans-serif;
}
*{
  margin: 0%;
  padding: 0%;
  font: var(--font);

}
body{
  width: 100%;
  height: 100%;
}

header{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  text-align: justify;
  background-color: var(--cor-azul);
}
.cabecalho{
  width: 100%;
  height: 20%;
  background-color: var(--cor-azul);
 display: flex;
 flex-direction: row;
 justify-content: left;
 align-items: center;
 font: var(--font);
 color:white;
}
#brasao{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
a{
  text-decoration: none;
  color: white;
  font: var(--font);

}
#divVoltar{
  position: absolute;
  right: 10%;
  font-size: 25px;
}
#idSite{
  position: relative;
  left: 18%;
}
article{
  display: flex;
  justify-content: center;
  align-items: center;
}
#fieldsetCad{
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: max-content;
}
fieldset{
  padding: 5% 10% 5% 10%;
  margin: 5%;
}
input, select{
  height: 1.5em;
  width: 20em;
  margin: 3% 0 3% 0;
}
input[value]{
  color: gray;
  padding-left: 2%;
}
button{
  width: 20.5em;
  height: 2em;
  font: var(--font);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  border: 0;
  box-sizing: content-box;
  color: white;
  margin-top: 3%;
}
#calcular{
  background-color: var(--cor-azul);
}
