
#recuperar{
  color: gray;
  font-size: 20px;
}

fieldset{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2em;
}
button{
  width: 11em;
  height: 2em;
  margin-top: 1em;
  border: 1px solid transparent;
  border-radius: 0.3em;
  cursor: pointer;
  background-color: green;
  color: white;

}
article{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25em;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:black;
  font: var(--font)
}
input{
  height: 2em;
  width: 15em;
  margin-top: 1em;
  padding: 2%;
}
