:root{
  --cor-azul:rgb(21, 21, 145); 
  --font: normal 20px 'Open Sans Condensed', sans-serif;
}
*{
  margin: 0%;
  padding: 0%;
}
body{
  width: 100%;
  height: 100%;
}

header{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  text-align: justify;
}
.cabecalho{
  width: 100%;
  height: 20%;
  background-color: var(--cor-azul);
 display: flex;
 flex-direction: row;
 justify-content: left;
 align-items: center;
 font: var(--font);
 color:white;
}
a{
  margin: 1em;
  text-decoration: none;
  color: white;
  font: var(--font);

}
#divContInterno{
  position:absolute;
  right: 10%;
  font-size: 25px;
}

h2{
  color: black;
}
article{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#divAplicarMultas, #divVerMultas{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 100px;
}
footer{
  position: absolute;
  bottom: 0;
  background-color: var(--cor-azul);
  width: 100%;
  height:8em;
  color: rgb(0, 0, 0);
  margin: 0;


}
address{
  color: white;
  font: var(--font);
  font-size: 15px;
  position: absolute;
  bottom: 0.5em;
}
#address{
  display:flex;
  justify-content: center;
  align-items: center;
}
#links{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  text-align: end;
  margin-left: 1em;
  font: var(--font)
}